// Normalize.css
// @import "../../node_modules/normalize.css/normalize";
// Bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

// Переменны (цвета, скорость transition и пр)
@import "_variables";

@media (min-width: 1280px) {

}
@media (min-width: 998px) {

}
@media (min-width: 768px) {

}
@media (min-width: 575px) {

}

body, * {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.bso-obstetrician,
.bso-skalniy {
  font-family: "Montserrat", sans-serif;

  .bso-turquoise-bg {
    background-color: #e6f8fd!important;
  }
  .bso-red-text {
    color: #ea516d;
  }

  .bso-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: #1d293f;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (min-width: 998px) {
      font-size: 28px;
      margin-bottom: 50px;
      text-align: center;
    }
    &--left {
      text-align: left;
      @media (min-width: 998px){
        text-align: left;
      }
    }
  }

  .bso-link {
    color: #13aae0;
    text-decoration: none;
  }

  .bso-subtitle {
    font-size: 14px;
    line-height: 1.5;
    color: #1d293f;
    margin-bottom: 20px;
    @media (min-width: 998px) {
      margin-top: -20px;
      font-size: 20px;
      margin-bottom: 50px;
      text-align: center;
    }
    &--left {
      text-align: left;
      @media (min-width: 998px){
        text-align: left;
      }
    }
  }

  .bso-button {
    font-family: "Montserrat", sans-serif;
    padding: 16px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #00b2e3;
    color: #fff;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 0;
    cursor: pointer;
    @media (pointer: fine) {
      transition: all 0.3s ease-out;
      &:hover {
        background-color: #01D3FD;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
      }
    }
    &--secondary {
      background-color: #e6f8fd;
      color: #00b2e3;
      @media (pointer: fine) {
        &:hover {
          background-color: #f2fcff;
        }
      }
    }
    &--red {
      background-color: #ea516d;
      color: #fff;
      @media (pointer: fine) {
        &:hover {
          background-color: #ff5574;
        }
      }
    }
    @media (min-width: 998px) {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  .bso-btns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    & > * {
      width: 100%;
    }
    @media (min-width: 998px) {
      gap: 30px;
    }
    @media (min-width: 575px) {
      flex-direction: row;
      & > * {
        width: auto;
      }
    }
  }

  .bso-banner {
    background-image: url(@img/banner_1.jpeg);
    background-size: cover;
    background-position: top center;
    padding: 40px 0;
    @media (min-width: 998px) {
      padding: 100px 0;
    }
    &--skalniy {
      background-image: url(@img/banner_l2_1.jpg);
    }
    .bso-h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.3;
      color: #1d293f;
      margin: 0;
      @media (min-width: 1280px) {
        font-size: 48px;
      }
      @media (min-width: 998px) {
        font-size: 44px;
        width: 100%;
      }
      @media (min-width: 768px) {
        width: 75%;
      }
      @media (min-width: 575px) {
        width: 77.77777778%;
      }
      br {
        display: none;
        @media (min-width: 998px){
          display: block;
        }
      }
    }

    .bso-p {
      margin: 20px 0 0 0;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      color: #1d293f;
      @media (min-width: 1280px) {
        margin-top: 50px;
      }
      @media (min-width: 998px) {
        font-size: 24px;
        margin-top: 40px;
      }
      @media (min-width: 768px) {
        margin-top: 30px;
        width: 100%;
      }
      @media (min-width: 575px) {
        width: 60%
      }
      &.bso-price {
        margin-top: 10px;
        font-weight: 600;
        color: #13aae0;
        @media (min-width: 998px) {
          margin-top: 20px;
        }
      }
    }

    .bso-btns {
      margin-top: 30px;
      @media (min-width: 998px) {
        margin-top: 50px;
      }
    }
  }

  .bso-section {
    padding: 40px 0;
    background: #fff;
    @media (min-width: 998px) {
      padding: 100px 0;
    }
  }

  .bso-text-block {
    .bso-h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 1.3;
      font-weight: 600;
      color: #1d293f;
      margin: 0 0 20px 0;
      text-transform: uppercase;
      @media (min-width: 998px) {
        font-size: 28px;
        margin-bottom: 30px;
      }
    }
    .bso-p {
      margin: 0;
      font-size: 14px;
      line-height: 1.43;
      font-weight: normal;
      color: #1d293f;
      @media (min-width: 998px) {
        font-size: 20px;
        line-height: 1.5;
      }
      & + .bso-p {
        margin-top: 10px;
      }
    }

    .bso-price {
      font-size: 16px;
      margin-top: 20px;
      font-weight: 600;
      color: #13aae0;
      @media (min-width: 998px) {
        margin-top: 30px;
      }
      @media (min-width: 998px) {
        font-size: 24px;
      }
    }

    .bso-btns {
      margin-top: 20px;
      @media (min-width: 998px) {
        margin-top: 30px;
      }
    }
  }

  .bso-photo-block {
    margin-top: 30px;
    @media (min-width: 998px) {
      margin-top: 0;
    }
    .bso-photo {
      width: 100%;
      height: 220px;
      border-radius: 20px;
      object-fit: cover;
      @media (min-width: 575px) {
        height: 300px;
      }

      &--big {
        height: 330px;
        @media (min-width: 575px) {
          height: 380px;
        }
      }
    }

    .bso-advantages-list {
      margin-top: 10px;
      @media (min-width: 998px) {
        margin-top: 30px;
      }
      .bso-advantage {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 20px;
        img {
          display: block;
          width: 14px;
          margin-right: 20px;
          @media (min-width: 1280px) {
            width: 28px;
          }
          @media (min-width: 998px) {
            width: 18px;
          }
        }
        span {
          display: block;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.6;
          color: #13aae0;
          @media (min-width: 1280px) {
            font-size: 20px;
          }
        }
      }
    }
  }

  .bso-mobile-mb-min {
    @media (max-width: 997px) {
      margin-bottom: 0;
    }
  }

  .bso-text-b-title {
    font-size: 16px;
    line-height: 1.38;
    font-weight: 600;
    color: #1d293f;
    margin-top: 20px;
    margin-bottom: 30px;
    @media (min-width: 998px) {
      font-size: 24px;
      line-height: 1.33;
      margin-top: 0;
    }
  }

  .bso-text-list {
    margin-top: 30px;
    @media (min-width: 998px){
      margin-top: 0;
    }
    .bso-text-item {
      position: relative;
      font-size: 14px;
      line-height: 1.43;
      color: #1d293f;
      padding-left: 40px;
      @media (min-width: 998px) {
        font-size: 20px;
        line-height: 1.5;
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: #00abdf;
      }
      & + .bso-text-item {
        margin-top: 10px;
      }
    }
  }

  .bso-what-is-banner {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.33;
    color: #13aae0;
    @media (min-width: 1280px) {
      margin-right: 100px;
    }
    @media (min-width: 998px) {
      padding: 50px;
      margin-right: 30px;
      margin-bottom: 0;
      font-size: 24px;
    }
    @media (min-width: 768px) {
      
    }
    @media (min-width: 575px) {
    
    }
    .bso-h3 {
      span {
        @media (min-width: 998px) {
          display: block;
        }
      }
      & + .bso-h3 {
        margin-top: 10px;
        @media (min-width: 998px) {
          margin-top: 20px;
        }
      }
    }
  }

  .bso-points {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    .bso-point{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      padding: 0;
      width: calc(50% - 15px);
      @media (min-width: 1280px) {
        width: calc(100% / 4 - 24px);
      }
      @media (min-width: 998px) {
        width: calc(100% / 4 - 24px);
      }
      @media (min-width: 768px) {
        width: calc(100% / 3 - 20px);
      }
      @media (min-width: 575px) {
        width: calc(100% / 3 - 20px);
      }
      span {
        display: block;
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
        line-height: 1.43;
        color: #1d293f;
        @media (min-width: 998px) {
          font-size: 18px;
          line-height: 1.4;
        }
      }
    }
  }

  .bso-gradient-bg {
    position: relative;
    background-image: linear-gradient(104deg, #00b2e3 4%, rgba(99, 203, 254, 0.65) 170%);
    @media (min-width: 998px) {
      background-image: linear-gradient(94deg, #00b2e3 -5%, rgba(99, 203, 254, 0.65) 187%);
      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 354px;
        // height: 354px;
        top: 0;
        bottom: 0;
        // transform: translate(0, -50%);
        background-size: cover;
        z-index: 0;
      }
      &::before {
        left: 0;
        background-image: url(@img/form_bg_l.png);
        background-position: right center;
      }
      &::after {
        right: 0;
        background-image: url(@img/form_bg_r.png);
        background-position: left center;
      }
      .container {
        position: relative;
        z-index: 1;
      }
    }

    .container {
      .bso-h3,
      .bso-p {
        color: #fff;
      }

      .bso-h3 {
        line-height: 1.07;
        @media (min-width: 998px) {
          line-height: 1.3;
        }
      }
      .bso-p {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.38;
        margin-bottom: 20px;
        @media (min-width: 998px) {
          font-size: 20px;
          line-height: 1.6;
          margin-bottom: 0;
        }
      }

      .bso-price {
        font-size: 16px;
        line-height: 1.38;
        font-weight: 600;
        color: #fff;
        margin-bottom: 20px;
        @media (min-width: 998px) {
          font-size: 24px;
          line-height: 1.33;
          margin-top: 0;
          margin-bottom: 30px;
        }
      }
    }
    
  }

  .bso-analysis {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media (min-width: 768px) {
      gap: 20px 30px;
    }
    .bso-analys {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      padding: 15px;
      gap: 8px;
      transition: all 0.3s ease-out;
      @media (min-width: 998px) {
        width: calc((100% - 60px) / 3);
      }
      @media (min-width: 768px) {
        width: calc((100% - 30px) / 2);
      }
      & > img {
        display: block;
        width: 60px;
        height: 60px;
      }
      & > .bso-span {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.38;
        color: #1d293f;
        transition: all 0.3s ease-out;
        span {
          font-weight: normal;
        }
      }

      .bso-analys-hidden-info {
        display: none;
      }

      @media (pointer: fine) {
        cursor: pointer;
        &:hover {
          & > .bso-span {
            color: #13aae0;
          }
        }
      }
      &--active {
        background-color: #e6f8fd;
        & > .bso-span {
          color: #13aae0;
        }
      }
    }

    .bso-analys-info {
      width: 100%;
      @media (min-width: 768px) {
        margin: 10px 0;
      }
      .bso-analys-head{
        padding: 10px 15px;
        background-color: #e6f8fd;
        font-size: 16px;
        line-height: 1.38;
        color: #1d293f;
      }

      .bso-analys-list{
        border: solid 1px #eaeaea;
        
        .bso-analys-item {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          padding: 15px;
          @media (min-width: 768px) {
            padding: 15px 30px;
            gap: 30px;
          }
          @media (min-width: 575px) {
            align-items: center;
          }
          & + .bso-analys-item {
            border-top: solid 1px #eaeaea;
          }

          .bso-analys-item-mobile-title {
            width: 100%;
            @media (min-width: 575px) {
              display: none;
            }
          }

          .bso-analys-item_l {
            width: calc(100% / 2 - 10px);
            .bso-analys-item-name {
              display: none;
            }
            @media (min-width: 575px) {
              width: calc(100% - 180px - 30px);
              .bso-analys-item-name {
                display: block;
              }
            }
          }
          .bso-analys-item_r {
            width: calc(100% / 2 - 10px);
            @media (min-width: 575px) {
              width: 180px;
            }
          }

          .bso-analys-item-name {
            font-family: GTPressuraPro;
            font-size: 20px;
            line-height: 1.4;
            color: #1d293f;
          }
          .bso-analys-item-subline {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px 80px;
          }
          .bso-analys-item-code {
            font-family: GTPressuraPro;
            font-size: 16px;
            line-height: 1.4;
            color: #13aae0;
          }
          .bso-analys-item-price {
            font-family: GTPressuraPro;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.4;
            color: #13aae0;
            text-align: center;
          }
          .bso-analys-item-byu {
            margin: 10px 0;
            .bso-button-any {
              width: 100%;
              flex-grow: 0;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              border: 0;
              padding: 12px 20px;
              border-radius: 5px;
              background-color: #00b2e3;
              cursor: pointer;
              @media (min-width: 575px) {
                gap: 15px;
              }
              span {
                font-family: GTPressuraPro;
                font-size: 16px;
                line-height: 1.25;
                color: #fff;
              }
              img {
                display: none;
                @media (min-width: 575px) {
                  display: block;
                  width: 18px;
                  height: 18px;
                }
              }
            }
          }
          .bso-analys-item-dop {
            font-family: GTPressuraPro;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.4;
            color: #f05368;
            text-align: center;
          }
        }
      }
    }
  }

  .bso-backplate-block {
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    @media (min-width: 998px) {
      padding: 30px;
    }
    .bso-text-b-title {
      margin-top: 0;
      margin-bottom: 10px;
      @media (min-width: 998px) {
        margin-bottom: 20px;
      }
    }

    .bso-p{
      font-size: 14px;
      line-height: 1.43;
      color: #1d293f;
      @media (min-width: 998px) {
        font-size: 20px;
        line-height: 1.5;
      }
    }

    & + .bso-backplate-block {
      margin-top: 20px;
      @media (min-width: 998px) {
        margin-top: 30px;
      }
    }
  }

  .bso-title + .bso-text-list {
    margin-top: 20px;
    @media (min-width: 998px) {
      margin-top: -20px;
    }
  }

  .bso-link-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    .bso-link-card {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      border-radius: 20px;
      overflow: hidden;
      background: #fff;
      text-decoration: none;
      flex-direction: column-reverse;
      @media (min-width: 768px) {
        width: calc(50% - 15px);
      }
      @media (min-width: 998px) {
        gap: 20px;
        flex-direction: row;
      }
      & > div {
        width: 100%;
        position: relative;
        @media (min-width: 998px) {
          width: calc(50% - 10px);
        }
        &:nth-child(1) {
          padding: 20px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @media (min-width: 998px) {
            padding: 30px;
            flex-direction: column;
            align-items: start;
          }
          .bso-link-card-name {
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            color: #1D293F;
            @media (min-width: 998px) {
              font-size: 24px;
              line-height: 32px;
            }
          }
          .bso-link-card-arrow {
            margin-left: 0;
            width: 24px;
            height: 24px;
            background: url("@img/Arrow.svg") no-repeat;
            background-size: contain;
            transition: all 0.3s ease-out;
          }
        }
        &:nth-child(2) {
          overflow: hidden;
          img {
            display: block;
            width: 100%;
            height: 200px;
            object-fit: cover;
            transition: all 0.3s ease-out;
            @media (min-width: 998px) {
              height: 248px;
            }
          }
        }
      }
    }

    @media (pointer: fine) {
      a.bso-link-card {
        transition: all 0.3s ease-out;

        &:hover {
          & > div {
            .bso-link-card-arrow {
              margin-left: 15px;
            }

            &:nth-child(2) {
              img {
                transform: scale(1.15);
              }
            }
          }
        }
      }
    }

  }

  .bso-link-cards-analys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    .bso-link-card-analys {
      position: relative;
      display: flex;
      width: 100%;
      @media (min-width: 768px) {
        width: calc(50% - 15px);
      }
      .bso-tooltip {
        z-index: 1;
        position: absolute;
        bottom: 12px;
        right: 12px;
        cursor: pointer;
        padding: 8px;
        @media (min-width: 998px) {
          bottom: 22px;
          left: calc(50% - 68px);
          right: initial;
        }
        .bso-tooltip-icon {
          width: 20px;
          height: 20px;
          background: url("@img/Tooltip.svg") no-repeat;
          background-size: contain;
        }
        .bso-tooltip-text {
          pointer-events: none;
          opacity: 0;
          position: absolute;
          bottom: 50px;
          right: 0;
          width: 216px;
          padding: 8px;
          gap: 8px;
          background: #13AAE0;
          color: #FFFFFF;
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          transition: all 0.3s ease-out;
          @media (min-width: 768px) {
            left: 50%;
            right: initial;
            transform: translateX(-50%);
          }
          &:after {
            content: '';
            display: block;
            width: 24px;
            height: 12px;
            background: url("@img/Tooltip_arrow.svg") no-repeat;
            position: absolute;
            bottom: -11px;
            right: 6px;
            @media (min-width: 768px) {
              left: 50%;
              right: initial;
              transform: translateX(-50%);
            }
          }
        }

        &:hover {
          .bso-tooltip-text {
            opacity: 1;
            bottom: 40px;
          }
        }
      }
      .bso-link-card-analys-link {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        background: #E6F8FD;
        text-decoration: none;
        flex-direction: column-reverse;
        @media (min-width: 998px) {
          gap: 20px;
          flex-direction: row;
        }
        & > div {
          width: 100%;
          position: relative;
          @media (min-width: 998px) {
            width: calc(50% - 10px);
          }

          &:nth-child(1) {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            //justify-content: space-between;
            //align-items: center;
            @media (min-width: 998px) {
              padding: 30px;
              flex-direction: column;
              align-items: start;
            }

            .bso-link-card-analys-code {
              font-size: 12px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 10px;
              color: #8E949F;
              @media (min-width: 998px) {

              }
            }

            .bso-link-card-analys-name {
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              color: #1D293F;
              margin-bottom: 10px;
              @media (min-width: 998px) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 20px;
              }
            }

            .bso-link-card-analys-price {
              font-size: 16px;
              font-weight: 600;
              line-height: 22px;
              color: #13AAE0;
              margin-bottom: 10px;
              @media (min-width: 998px) {
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 20px;
              }
            }

            .bso-link-card-analys-time {
              margin-top: auto;
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              color: #8E949F;
              padding-right: 28px;
              @media (min-width: 998px) {
                font-size: 16px;
                line-height: 20px;
              }
            }
          }

          &:nth-child(2) {
            overflow: hidden;

            img {
              display: block;
              width: 100%;
              height: 200px;
              object-fit: cover;
              transition: all 0.3s ease-out;
              @media (min-width: 998px) {
                height: 100%;
              }
            }
          }
        }
        @media (pointer: fine) {
          & {
            transition: all 0.3s ease-out;
            &:hover {
              box-shadow: 0px 8px 43px rgba(0, 0, 0, 0.1);
              & > div {
                &:nth-child(2) {
                  img {
                    transform: scale(1.15);
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (pointer: fine) {
      a.bso-link-card {
        transition: all 0.3s ease-out;

        &:hover {
          & > div {
            &:nth-child(2) {
              img {
                transform: scale(1.15);
              }
            }
          }
        }
      }
    }

  }
}

.bso-obstetrician {
  .bso-section-3 {
    .bso-photo-block {
      margin-top: 0;
      margin-bottom: 30px;
      @media (min-width: 998px) {
        margin-bottom: 0;
      }
    }
  }

  .bso-section-4 {
    .bso-photo-block {
      .bso-photo {
        height: 300px;
        @media (min-width: 998px) {
          height: 300px;
        }
      }
    }
  }

  .bso-section-5 {
    .bso-photo-block {
      margin-bottom: 30px;
      @media (min-width: 998px) {
        margin-bottom: 0;
      }
      .bso-photo {
        height: 380px;
        @media (min-width: 998px) {
          height: 402px;
        }
      }
    }
  }
}

.bso-skalniy {
  .bso-section-2 {
    .bso-photo-block .bso-photo {
      height: 400px;
      @media (min-width: 998px) {
        height: 694px;
      }
    }
  }

  .bso-section-3 {
    .bso-photo-block .bso-photo {
      height: 400px;
      @media (min-width: 1280px) {
        height: 614px;
      }
      @media (min-width: 998px) {
        height: 703px;
      }
      @media (min-width: 768px) {
      
      }
      @media (min-width: 575px) {
      
      }
    }
  }

  .bso-section-4 {
    .bso-photo-block {
      margin-top: 0;
    }
    .bso-photo-block .bso-photo {
      height: 400px;
      margin-bottom: 20px;
      @media (min-width: 998px) {
        height: 634px;
        margin-bottom: 0;
      }
      @media (min-width: 768px) {
        height: 550px;
      }
    }
  }

  .bso-section-5 {
    .bso-row {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin: 0 -15px;
    }
    .bso-col {
      padding: 0 15px;
      width: 100%;
      @media (min-width: 768px) {
        width: 50%;
      }
    }

    .bso-photo-block {
      margin: 0;
      @media (min-width: 768px) {
        position: sticky;
        top: 30px;
      }
      .bso-photo {
        object-fit: scale-down;
        height: auto;
        margin-bottom: 20px;
        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }
    }

    .bso-text-block {
      & > * + * {
        margin-top: 20px;
        @media (min-width: 998px) {
          margin-top: 30px;
        }
      }

      .bso-text-b-title {
        margin-bottom: 0;
        & + .bso-p {
          margin-top: 20px;
        }
      }
    }
  }
}