// Normalize.css
// @import "../../node_modules/normalize.css/normalize";
// Bootstrap
// @import '../../node_modules/bootstrap/scss/bootstrap-grid';

// Шрифты
// Удалить файл fonts.scss, если произошли какие-то изменения со шрифтами
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

// Переменны (цвета, скорость transition и пр)
@import "_variables";

// @import "_header";
// @import "_footer";

// *{
//   outline: none;
//   box-sizing: border-box;
// }

// html {
//   height: 100%;
// }

// body{
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   min-width: 360px;
//   overflow-x: hidden;
//   font-family: $main_font;
//   main {
//     flex: 1 0 auto;
//     padding: 30px 0;
//   }
// }

@media (min-width: 1280px) {

}
@media (min-width: 998px) {

}
@media (min-width: 768px) {

}
@media (min-width: 575px) {

}

.bso-obstetrician {
  font-family: "Montserrat", sans-serif;

  .bso-button {
    font-family: "Montserrat", sans-serif;
    padding: 16px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #00b2e3;
    color: #fff;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    &--secondary {
      background-color: #e6f8fd;
      color: #00b2e3;
    }
    @media (min-width: 998px) {
      font-size: 20px;
      line-height: 1.4;
    }
  }

  .bso-banner {
    background-image: url(@img/banner_1.jpeg);
    background-size: cover;
    background-position: top center;
    padding: 40px 0;
    @media (min-width: 998px) {
      padding: 100px 0;
    }
    .bso-h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.3;
      color: #1d293f;
      margin: 0;
      @media (min-width: 1280px) {
        font-size: 48px;
      }
      @media (min-width: 998px) {
        font-size: 44px;
      }
      @media (min-width: 768px) {
        width: 100%;
      }
      @media (min-width: 575px) {
        width: 77.77777778%;
      }
    }

    .bso-p {
      margin: 20px 0 0 0;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
      color: #1d293f;
      @media (min-width: 1280px) {
        margin-top: 50px;
      }
      @media (min-width: 998px) {
        font-size: 24px;
        margin-top: 40px;
      }
      @media (min-width: 768px) {
        margin-top: 30px;
        width: 100%;
      }
      @media (min-width: 575px) {
        width: 60%
      }
      &.bso-price {
        margin-top: 10px;
        font-weight: 600;
        color: #13aae0;
        @media (min-width: 998px) {
          margin-top: 20px;
        }
      }
    }

    .bso-btns {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 20px;
      & > * {
        width: 100%;
      }
      @media (min-width: 998px) {
        margin-top: 50px;
        gap: 30px;
      }
      @media (min-width: 575px) {
        flex-direction: row;
        & > * {
          width: auto;
        }
      }
    }
  }

  .bso-section {
    padding: 40px 0;
    background: #fff;
    @media (min-width: 998px) {
      padding: 100px 0;
    }
  }

  .bso-text-block {
    .bso-h3 {
      font-family: "Montserrat", sans-serif;
      font-size: 20px!important;
      line-height: 1.3;
      font-weight: 600;
      color: #1d293f;
      margin: 0 0 20px 0;
      text-transform: uppercase;
      @media (min-width: 998px) {
        font-size: 28px!important;
        margin-bottom: 30px;
      }
    }
    .bso-p {
      margin: 0;
      font-size: 14px!important;
      line-height: 1.43;
      font-weight: normal;
      color: #1d293f;
      @media (min-width: 998px) {
        font-size: 20px!important;
        line-height: 1.5;
      }
      & + .bso-p {
        margin-top: 10px;
      }
    }
  }

  .bso-photo-block {
    margin-top: 30px;
    @media (min-width: 998px) {
      margin-top: 0;
    }
    .bso-photo {
      height: 300px;
      border-radius: 20px;
      background-image: url(@img/kinder.jpeg);
      background-size: cover;
      background-position: center;
    }

    .bso-advantages-list {
      margin-top: 10px;
      @media (min-width: 998px) {
        margin-top: 30px;
      }
      .bso-advantage {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-top: 20px;
        img {
          display: block;
          width: 14px;
          margin-right: 20px;
          @media (min-width: 1280px) {
            width: 28px;
          }
          @media (min-width: 998px) {
            width: 18px;
          }
        }
        span {
          display: block;
          font-size: 16px;
          font-weight: 600;
          line-height: 1.6;
          color: #13aae0;
          @media (min-width: 1280px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
